<div id="toolbar">
</div>
<table  class="table table-striped table-hover top-bufferXL" id="sorted-table"
                      data-toggle="table" data-search="true">
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="ranking" data-sortable="true">Ranking</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>