<h4>Email Workshift Manager</h4>

  <%=form_tag create_metashift_path, :id => 'my_form' do %>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="message">Message</label>
      </div>
      <div class="col-sm-10" style='margin-bottom:25px;'>
        <div class="input-group">
          <input id="message" type="text" style="max-width:500px;"class="form-control">
        </div>
      </div>
    </div>
  <% end %>