<%=form_tag edit_password_path, :name => 'password' do %>

  <label class="sr-only" for="exampleInputPassword2">New Password</label>
  <%= password_field_tag :password,"", {class: "form-control", placeholder: "New Password"} %>
  		 

  <br>
  
  <label class="sr-only" for="exampleInputPassword2">New Password Confirmation</label>
  <%= password_field_tag :password_confirmation,"", {class: "form-control", placeholder: "New Password Confirmation"} %>
  
  <br>
  <button type="submit" class="btn btn-theme" id="submit_button">Update Password</button>
<% end %>