<!-- app/views/users/preference_access.html.erb -->
<!DOCTYPE html>
<html>
<div style="margin-bottom:10px;"><%= link_to 'Open Workshift Preference Form for Everyone', admin_view_user_path(:change_preference_for_id => "all"), :class=>"btn btn-success" %></div>
<%= link_to 'Close Workshift Preference Form for Everyone', admin_view_user_path(:change_preference_for_id => "none"), :class=>"btn btn-danger" %>
<div class="col-md-12" style="margin-top:30px;">
  <table id="Workshifts_uploaded" class="table table-striped table-hover">
    <tr>
      <th>Name</th>
    </tr>
    <% @users.each do | user | %>
      <tr>
        <td>
          <%= link_to user.full_name, admin_view_user_path(user.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

</html>