<!-- app/views/users/edit.html.erb -->
<h1>Edit Account</h1>
<div class="col-lg-8">
  <h2>Change Password</h2>
  <%=render "edit_password_form" %>
  <div class="hline"></div>
</div>
<div class="col-lg-8">
  <h2>Update Email</h2>
  <%=render "edit_email_form" %>
  <div class="hline"></div>
</div>