<!-- app/views/users/preference_access.html.erb -->
<!DOCTYPE html>
<html>
<%= link_to 'Open Workshift Preference Form for Everyone', preference_access_path(:change_preference_for_id => "all"), :class=>"btn btn-success" %>
<%= link_to 'Close Workshift Preference Form for Everyone', preference_access_path(:change_preference_for_id => "none"), :class=>"btn btn-danger" %>
<div class="col-md-4">
  <table id="Workshifts_uploaded" class="table table-striped table-hover">
    <tr>
      <th>Name</th>
    </tr>
    <% @users.each do | user | %>
      <tr>
        <td>
          
        </td>
      </tr>
    <% end %>
  </table>
</div>

</html>