 <head>
  <style type="text/css">
    .dropdown-menu>li>a {
        color:black;
    }
  </style>
</head>


<%=form_tag add_timeslots_path, :id => 'my_form' do %>
    <div class="row" style="margin-bottom:40px; margin-top:30px;">
        <div class="form-group">
            <div class="col-sm-2">
                <label style="margin-top:5px;">Day of the Week</label>
                <input type="hidden" name="shift[dayoftheweek]" id="dayofthweek" value="">
            </div>
            <div class="col-md-1">
                <button class="btn dropdown-toggle" id="weekday_btn" data-toggle="dropdown">
                    Select Day
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="weekdays">
                    <li><a href="#">Sunday</a></li>
                    <li><a href="#">Monday</a></li>
                    <li><a href="#">Tuesday</a></li>
                    <li><a href="#">Wednesday</a></li>
                    <li><a href="#">Thursday</a></li>
                    <li><a href="#">Friday</a></li>
                    <li><a href="#">Saturday</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 35px;">
        <div class="form-group">
            <div class ="col-md-2">
                <label>Start Time</label>
                <input id="start_time" type="text" name="shift[start_time]" class="form-control" value = "07:30">
            </div>
            <div class ="col-md-2" style="margin-top:22px;">
                <button class="btn dropdown-toggle" id="start_btn" data-toggle="dropdown">
                    Select AM/PM
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="start_am_pm">
                    <li><a href="#">AM</a></li>
                    <li><a href="#">PM</a></li>
                </ul>
            </div>
            <div class ="col-md-2">
                <label>End Time</label>
                <input id="end_time" type="text" name="shift[end_time]" class="form-control" value = "09:30">
            </div>
            <div class ="col-md-2">
                <button class="btn dropdown-toggle" id="end_btn" data-toggle="dropdown" style="margin-top:22px;">
                    Select AM/PM
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="end_am_pm">
                    <li><a href="#">AM</a></li>
                    <li><a href="#">PM</a></li>
                </ul>
            </div>
        </div>
    </div>
   
    <div class = "form-group">
        <input type="hidden" name="shift[metashift_id]" id="metashift_field" value=<%=params[:id]%>>    
    </div>
    
    <button type="submit" class="btn btn-theme" id="submit_button" style="">Add Timeslot</button>
    
    <script>
    
    $(function(){
      $(".dropdown-menu#weekdays li a").click(function(){
        $("#weekday_btn:first-child").text($(this).text());
        $(".btn:first-child").val($(this).text());
        sel_weekday = $(".btn:first-child").text();
      });
      
      $(".dropdown-menu#start_am_pm li a").click(function(){
        $("#start_btn:first-child").text($(this).text());
        $(".btn:first-child").val($(this).text());
        sel_start_ampm = $(".btn:first-child").text();
      });
      
      $(".dropdown-menu#end_am_pm li a").click(function(){
        $("#end_btn:first-child").text($(this).text());
        $(".btn:first-child").val($(this).text());
        sel_end_ampm = $(".btn:first-child").text();
      });
      
      
    });
  </script>

<% end %>
