<h1>All Shifts</h1>



<%= content_tag :div, class: "temp_information", 
data: {temp: @serializedShifts, is_admin: admin_rights?,
       allusers: @allUsers} do %>

<% end %>

<div class='react_shift_table' id='shift-table'></div>

<br>
<%= link_to('New Shift', new_shift_path) if admin_rights? %>