<head>
  <style type="text/css">
    #browse_button {
      margin-top: 25px;
    }
  </style>
</head>

<%= form_tag upload_metashifts_path, multipart: true do %>
  <br>
  
  <div id="browse_button">
    <input type="file" name="file" class="file-inputs" data-filename-placement="inside">
    <script>
      $( document ).ready(function() {
        $('.file-inputs').bootstrapFileInput();
      });
    </script>
    <br>
    <br>
  </div>

  <button type="submit" class="btn btn-theme">Import</button>
<% end %>