<div id="toolbar">
</div>
<table  class="table table-striped table-hover" id="sorted-table"
                      data-toggle="table" data-search="true">
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="ranking" data-sortable="true">Ranking</th>
    </tr>
  </thead>
  <tbody>
    <% @sorted_users_rankings.each do |user, ranking| %>
      <tr>
        <td><%= link_to "#{user.full_name}", admin_view_user_path(user.id) %></td>
        <td><%= ranking %></td>
      </tr>
    <% end %>
  </tbody>
</table>