<head>
  <style type="text/css">
    h2 {
      margin-bottom: 30px;
    }
  </style>
</head>

<!-- app/views/shifts/new.html.erb -->
<div class="row">
<div class="col-lg-5">
  <h2>Add Workshift Manually</h2>
  <div class="hline"></div>

  <%=render "add_manual_form" %>

</div>


<div class="col-lg-6 col-md-offset-1">
  <h2>Upload CSV</h2>
  <%=render "workshift_csv_description" %>
  <div class="hline"></div>
    <%=render "add_csv_form" %>
  </div>
</div>

